
body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
    transition: cubic-bezier(.55,0,.1,1) 0.5s;
}

#wrapper {
	width: 90%;
	margin: 0 auto;
	position: relative;
}


/* header start */

header {
	width: 98%;
    margin: 0 auto;
	height: auto;
	padding: 10px;
	align-content: center;
	border-bottom: 1px solid #000;
}

header h1 {
	font-weight: 300;
	font-size: 3em;
	text-align: center;
	margin: 0 auto;
	width: 80%;
    display: inline;
    margin-left: 35%;
}

header p {
    display: inline;
    font-size: 0.7em;
}

.sliderButton {
	margin: auto;
	float: left;
	height: 100%;
}

.sliderButton i {
    font-size: 3em;
}
/* header end */

/* box container start */

#frequent {
	position: relative;
	width: 84em;
	min-height: 21em;
	max-height: 41em;
	margin: 10px auto;
	margin-bottom: 2em;
}

#less {
	position: relative;
	width: 73em;
	height: 21em;
	margin: 0 auto;
}

/* box container end */

/* box start */

.box {
	transition: ease 0.3s;
	border: 1px solid #212121;
	position: relative;
	float: left;
	text-align: center;
	margin: 0.1em;
	background-color: #fff;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#frequent .box {
	width: 20em;
	height: 20em;
}

#less .box {
	width: 10em;
	height: 10em;
}

#less .box h4 {
	font-size: 28px;
	font-weight: 300;
	position: relative;
	margin-top: 3.5em;
}

#less .box .boxSettings {
    font-size: 2em;
    position: absolute;
    right: 0.3em;
    top: 0.1em;
    border-radius: 100%;
    transition: transform 0.5s cubic-bezier(.55,0,.1,1);
}

#less .box .boxIcon {
    position: absolute;
    font-size: 4em;
    top: 0.5em;
    left: 0.75em;
}

#frequent .box h4 {
	font-size: 45px;
	font-weight: 300;
    margin-top: 4.5em;
}

#frequent .box .boxSettings {
    font-size: 3em;
    position: absolute;
    right: 0.4em;
    top: 0.1em;
    border-radius: 100%;
    transition: transform 0.5s cubic-bezier(.55,0,.1,1);
}

#frequent .box .boxIcon {
    position: absolute;
    font-size: 8em;
    top: 0.5em;
    left: 0.75em;
}

/* box end */

/*box option pane*/
.options {
    background-color: inherit;
    width: 100%;
    height: 0%;
    position: absolute;
    left: 0px;
    bottom: -1px;
    transition: height 0.5s cubic-bezier(.55,0,.1,1);
    overflow: hidden;
    border-top: inherit;
}

.options h6 {
    margin: 1em auto;
    font-weight: 400;
    font-size: 1.5em;
}

.options input {
    font-family: 'Open Sans', sans-serif;
    display: block;
    margin: 1em auto;
    width: 60%
}

.options input:focus {
    outline: none;
}

/* color classes */

.red {
    color: #F44336;
}

.pink {
    color: #E91E63;
}

.purple {
    color: #9C27B0;
}

.deepPurple {
    color: #673AB7;
}

.indigo {
    color: #3F51B5;
}

.blue {
    color: #2196F3;
}

.lightBlue {
    color: #03A9F4;
}

.cyan {
    color: #00BCD4;
}

.teal {
    color: #009688;
}

.green {
    color: #4CAF50;
}

.lightGreen {
    color: #8BC34A;
}

.lime {
    color: #CDDC39;
}

.yellow {
    color: #FFEB3B;
}

.amber {
    color: #FFC107;
}

.orange {
    color: #FF9800;
}

.deepOrange {
    color: #FF5722;
}

.red:hover {
    background-color: #F44336;
}

.pink:hover {
    background-color: #E91E63;
}

.purple:hover {
    background-color: #9C27B0;
}

.deepPurple:hover {
    background-color: #673AB7;
}

.indigo:hover {
    background-color: #3F51B5;
}

.blue:hover {
    background-color: #2196F3;
}

.lightBlue:hover {
    background-color: #03A9F4;
}

.cyan:hover {
    background-color: #00BCD4;
}

.teal:hover {
    background-color: #009688;
}

.green:hover {
    background-color: #4CAF50;
}

.lightGreen:hover {
    background-color: #8BC34A;
}

.lime:hover {
    background-color: #CDDC39;
}

.yellow:hover {
    background-color: #FFEB3B;
}

.amber:hover {
    background-color: #FFC107;
}

.orange:hover {
    background-color: #FF9800;
}

.deepOrange:hover {
    background-color: #FF5722;
}

/* jQuery classes*/

.highlighted {
    color: #fff;
    border: 1px solid rgb(255, 255, 255);
}

.open {
    height: 85%;
}